AlignTrailingComments:
  Kind: Leave
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: No
BreakAfterAttributes: Leave
BreakBeforeConceptDeclarations: Never
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
EmptyLineBeforeAccessModifier: Never
IndentWidth: 2
RemoveBracesLLVM: true
RequiresClausePosition: SingleLine
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
SpaceAfterCStyleCast: true
