AlignTrailingComments:
  Kind: Leave
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: No
BreakAfterAttributes: Leave
BreakBeforeConceptDeclarations: Never
ColumnLimit: 114
ContinuationIndentWidth: 2
DerivePointerAlignment: false
PenaltyExcessCharacter: 4
PointerAlignment: Left
EmptyLineBeforeAccessModifier: Never
IndentWidth: 2
RemoveBracesLLVM: true
RequiresClausePosition: SingleLine
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
SpaceAfterCStyleCast: true
